{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  {% comment %} <h2 class="mb-4">新增記帳項目</h2> {% endcomment %}
  <h2 class="mb-4">{% if edit %}編輯記帳紀錄{% else %}新增記帳項目{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.date.label_tag }} {{ form.date }}
    </div>
    <div class="mb-3">
      {{ form.record_type.label_tag }} {{ form.record_type }}
    </div>
    <div class="mb-3">
      {{ form.category.label_tag }} {{ form.category }}
    </div>
    <div class="mb-3">
      {{ form.name.label_tag }} {{ form.name }}
    </div>
    <div class="mb-3">
      {{ form.payment_method.label_tag }} {{ form.payment_method }}
    </div>
    <div class="mb-3">
      {{ form.amount.label_tag }} {{ form.amount }}
    </div>
    <div class="mb-3">
      {{ form.note.label_tag }} {{ form.note }}
    </div>
    {% if edit %}
      <button type="submit" class="btn btn-primary">修改</button>
    {% else %}
      <button type="submit" class="btn btn-primary">新增</button>
    {% endif %}
    
  </form>
</div>
{% endblock %}
